<div class="col-12 col-md-6 col-lg-4 p-0">
    <div class="mx-2 mb-3">
        <div class="card module hover-lift hover-shadow">
            <a class="text-body" href="{{ include.link }}">
                <div class="before"></div>
                <div class="card-body">
                    <div class="col-12 text-center mb-2">
                        <i class="{{ include.icon }} fa-fw fa-2x"></i>
                        <h3 class="mt-2">{{ include.title }}</h3>
                    </div>
                    <p>
                        {{ include.body }}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>