a:not(.nav-link):not(.navbar-brand):not(.text-body):not(.btn){
    &, &:hover{
        transition: all 0.25s ease-in-out !important;
        text-decoration: none !important;
    }
    
    &:hover{
        color: #2E51A2 !important;
    }
}

.user-select-none{
    user-select: none;
}