---
---

div.highlighter-rouge{
    margin-bottom: .5rem;
}

figure.highlight, div.highlight{
    background-color: #212121 !important;
    border-radius: 6px;
    margin: 0px;
    overflow: hidden;
}

figure.highlight pre, pre.highlight {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    overflow: auto;
    color: white; // fallback

    &::-webkit-scrollbar {
        height: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.2);
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,0.35);
    }

    & code {

        .hll { // background
            background-color: transparent !important;
        }
    //
        .c, .c1, .cm, .cp { // comment
            color: #616161 !important;
            font-style: italic !important;
            font-weight: normal !important;
        }

        .cs { // comment special
            color: #616161 !important;
            font-weight: bold !important;
            font-style: italic !important;
        }

    //
        .err { // error
            color: #FF5370 !important;
            background-color: unset !important;
        }

    //
        .k, .kc, .kd, .kn, .kp, .kr, .kt { // keyword (class/import) / scope access
            color: #C792EA !important;
            font-style: italic !important;
            font-weight: normal !important;
        }
    //
        .m, .mf, .mh, .mi, .mo { // float/int
        color: #F78C6C !important;
        font-weight: normal !important;
        }
    //
        .n { // var
            color: #EEFFFF !important;
            font-weight: normal !important;
        }

        .no { //, type
            color: #F78C6C !important;
        font-weight: normal !important;
        } 

        .na, .nf { // function
        color: #82AAFF !important;
        font-weight: normal !important;
        }

        .nc { // class
        color: #FFCB6B !important;
        font-weight: normal !important;
        text-decoration: none !important;
        }

        .nd { // annoation
        color: #C792EA !important;
        font-weight: normal !important;
        }

        .nn { // import / namespace
            color: #FFCB6B !important;
            text-decoration: none !important;
        }
    //
        .o, .p, .pi { // symbols ; () []
            color: #89DDFF !important;
            font-weight: normal !important;
            text-decoration: none !important;
        }
    // 
        .s, .sr, // string, regex
        .sb, .sc, .sd, .s2, .se, .sh, .si, .sx,
        .nl { // literal
        color: #C3E88D !important;
        font-weight: normal !important;
        }
    }
}