---
---

* {
    outline: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

pre, code {
    &, * {
        font-family: "Fira Mono", monospace !important;
    }
}

$color-white        : #F3F2F1;
$color-blue         : #3278be;
$color-blue-lighter : lighten($color-blue, 10);
$color-blue-darker  : darken($color-blue, 10);
$color-dark         : #202020;
$color-light        : #404040;
$color-lighter      : #808080;

/* -------------------------------------------------------------- */

.link {
    a[href] {
        transition: all .15s ease-in-out !important;
        &, &:visited {
            color: $color-blue !important;
            transition: all .15s ease-in-out !important;
            &:hover{
                color: $color-blue-darker !important;
            }
        }
    }
}

.thin-header {
    > h{
        &1, &2, &3, &4, &5, &6{
            color: $color-dark !important;
            text-decoration: none;
            font-style: normal;
            font-weight: 300;
        }

        &1 { font-size: 2em; }
        &2 { font-size: 1.75em; }
        &3 { font-size: 1.5em; }
        &4 { font-size: 1.25em; }
        &5 { font-size: 1em; }
    }
}

::-webkit-scrollbar{
    height: 8px;
    width: 8px;

    /* Track */
    &-track {
        background: $color-dark;
    }

    /* Handle */
    &-thumb {
        background: rgba(255,255,255,0.2);
        border-radius: 5px;
        &:hover{
            background: rgba(255,255,255,0.35);
        }
    }
}

/* nav */
nav[role="navigation"] {
    .topNav, .bottomNav {
        height: unset !important;
        padding: 7px 0px 7px 0px !important;
        margin: 0px 0px 0px 0px !important;

        ul.navList {
            margin-left: 5px;
            padding-bottom: 5px;
            border-bottom: solid 1px $color-white;
        }
    }

    .topNav, .subNav, .bottomNav {
        ul.navList {
            li {
                > a {
                    color: $color-white !important;

                    &[href] {
                        transition: all .15s ease-in-out !important;
                        &, &:visited {
                            &:hover {
                                color:$color-blue !important;
                            }
                        }
                    }
                }

                &.navBarCell1Rev {
                    color: #F3F2F1 !important;
                    background-color: #3278be !important;
                    border-radius: 4px;
                }

                &:not(.navBarCell1Rev) {
                    color: #808080 !important;
                }
            }
        }
    }

    .subNav {
        color: $color-white;
        background-color: $color-dark !important;
        ul.navList {
            margin: 0;
            > li {
                padding: 0 .5rem !important;
            }
        }
    }

    > div.fixedNav > div.subNav {
        ul.navListSearch { 
            > li {
                padding: 0 .5rem !important;
                > input {
                    outline: none !important;
                    &#search {
                        border          : solid 1px #CCCCCC !important;
                        border-radius   : 4px;
                        background-image: url("glass.png") !important;
                        transition: all .15s ease-in-out, box-shadow .15s ease-in-out !important;
                        &:focus {
                            border    : solid 1px $color-blue !important;
                            box-shadow: 0 0 0 0.1rem rgba(148,187,226,.5) !important;
                        }
                    }
                    &#reset {
                        top: -5px !important;
                        background-image: url("x.png") !important;
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

/* search */

ul#ui-id-1{
    li.ui-autocomplete-category{
        color: $color-white;
        background-color: $color-blue !important;
    }
}

/* overview */
main, ul.subNavList {
    @extend.link;
}

table{
    border: 0px !important;

    caption{
        > span {
            background-color: $color-blue !important;
        }

        span{
            color: white !important;

            a[href] {
                &, &:visited {
                    color: white !important;
                    transition: all .15s ease-in-out !important;
                    text-decoration: underline;
                }

                &:hover {
                    color: white !important;
                }
            }

            :hover a {
                color: white !important;
            }
        }
        padding-left: 0px !important;
    }

    th tr {
        color: $color-dark !important;
    }

    tbody tr {
        .rowColor th, .rowColor td {
            background-color: $color-white !important;
        }

        .altColor th, .altColor td {
            background-color: white !important;
        }
    }

    tr:not(.altColor):not(.rowColor) > {
        th.colFirst, th.colSecond, th.colLast
        {
            color: $color-white;
            background-color: $color-dark;
            padding: 7px;
        }
    }
}

.memberSummary {
    button, caption {
        .activeTableTab, .tableTab {
            > span {
                transition: all .15s ease-in-out !important;
                color: white !important;
            }
        }
        .activeTableTab > span, .tableTab > span:hover {
            background-color: $color-blue-darker !important;
        }
        .tableTab > span {
            background-color: $color-blue !important;
            text-decoration: underline;
        }
    }
}

.packageHierarchyLabel {
    color: $color-dark !important;
}

.packagesSummary {
    margin-top: 1rem !important;

    > caption {
        padding-top: 0 !important;
    }
}

h1.bar {
    color: $color-white !important;
}

body {
    background-color: white !important;
    margin-bottom: 30px !important;
}
/* background */

.topNav, .bottomNav, footer, .bar {
    background-color: $color-dark !important;
}

/* footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;

    .subNav, .bottomNav {
        display: none;
    }

    p.legalCopy {
        margin: .5rem !important;
        > small {
            color: #F3F2F1 !important;
            visibility: hidden;
            &::before {
                visibility: visible;
                content: "Copyright © Ktt Development 2021. All rights reserved";
            }
        }
    }
}

/* content */
h{
    &1, &2, &3, &4, &5, &6 {
        &.title {
            color: $color-dark !important;
            text-decoration: none;
            font-weight: 300;
            font-size: 2em;
        }
    }
}

section[role="region"] > ul.blockList > li.blockList,
div.contentContainer > ul.blockList > li.blockList > ul.blockList > li.blockList {
    &, &Last {
        border-radius: 1rem;
        padding: 1rem !important;

        @extend .thin-header;

        > h {
            &1, &2, &3, &4, &5, &6{
                margin: -19px 0 0 0 !important;
                padding: 0 !important;
                color: $color-dark;
            }
        }

        > ul.blockList {
            &, &Last {
                margin: 1rem 0 0 0 !important;

                > li.blockList {
                    padding: 0 1rem 1rem 1rem !important;
                    margin: 0 !important;

                    > h {
                        &1, &2, &3, &4, &5, &6 {
                            margin: -19px -1rem 1rem -1rem !important;
                            background-color: $color-dark !important;
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

/* index/help */
div.contentContainer{

    .description, .details {
        dl dt {
            color: $color-dark !important;
        }
    }

    section[role="region"], div.block {
        @extend .thin-header;
    }

    /* hyperlink buttons */
    > a[href] {
        &, &:visited {
            display     : inline-block;
            text-align  : center;

            min-width       : 18px;
            min-height      : 18px;
            padding         : 5px;
            margin-bottom   : 5px;

            border       : 4px;
            border-radius: 5px;

            color           : $color-white !important;
            background-color: $color-blue !important;
            transition: all .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
            &:hover{
                background-color: $color-blue-darker !important;
            }
        }
    }
    /* description */
    dd {
        margin-left: 35px;
        div.block {
            padding-left: 10px;
            border-left : 3px solid $color-lighter;
        }
    }
}
